<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace : 命名空间，与id组成sql的唯一标识-->
<mapper namespace="com.study.dao.UserMapper">

    <!--resultType ：表明返回值类型-->
    <select id="findAll" resultType="com.study.pojo.User">
        select * from user
    </select>

    <!--添加用户   parameterType：参数类型-->
    <insert id="saveUser" parameterType="com.study.pojo.User">
        INSERT INTO user VALUES (#{id},#{username})
    </insert>

    <!--修改-->
    <update id="updateUser" parameterType="com.study.pojo.User">
        UPDATE user SET username = #{username} WHERE id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM user where id = #{id}
    </delete>

    <select id="findById" parameterType="int" resultType="com.study.pojo.User">
        SELECT  * FROM  user where  id = #{id}
    </select>
</mapper>